################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CornwayGame.Web/obj
/CornwayGame.Web/bin
/CornwayGame.BL/obj
/CornwayGame.BL/bin
/CornwayGame.Data/obj
/CornwayGame.Data/bin
/CornwayGame.Tests/obj
/CornwayGame.Tests/bin
